<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A19</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="container">
      <div class="nav-icons">
        <div class="nav-icons__left">
          <input type="button" onclick="location.href='http://localhost:3000'" value="回到首頁" style="border:2px blue none;background-color:#CCCCCC">
        </div>
        <div class="nav-icons__right">
          <input type="button" onclick="location.href='http://localhost:3000/about'" value="About" style="border:2px blue none;background-color:#CCCCCC">
          <input type="button" onclick="location.href='http://localhost:3000/portfolio'" value="Portfolio" style="border:2px blue none;background-color:#CCCCCC">
          <input type="button" onclick="location.href='http://localhost:3000/contact'" value="Contact" style="border:2px blue none;background-color:#CCCCCC">
        </div>
      </div>  
    </div>
  </nav>
  {{{ body }}}
</body>
</html>